body {
	background: blue;
}

#tictactoe {
	position: absolute;
	text-align: center;
	font-size: 60px;
	top: 50px;
	left: 400px;
}

#tic_tac_holder {
	border: 3px solid black;
	height: 501px;
	width: 501px;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	background-color: orange;
}

.squares {
	height: 32%;
	width: 32%;
	border: 1px solid black;
	float: left;
	padding: 2px;
	line-height: 2.5;
}

#resetButton {
	position: absolute;
	display: inline-block;
	height: 50px;
	width: 70px;
	top: 200px;
	left: 140px;
}

#points {
	position: absolute;
	top: 275px;
	left: 75px;
	width: 200px;
	border: 1px solid black;
	background: white;
	font-size: 20px;
	padding: 4px;
}
